header
  h1 Discord DKP
  p.description Simple and Discord DKP Management. 

p.social-login
  a(href="/auth/twitter").btn.btn-primary  login with Twitter

  a(href="/auth/facebook").btn.btn-primary  login with Facebook
