header
  h1 Simple DKP
  p.description Simple and Clean DKP Management. 

p.social-login
  a(href="/auth/twitter").btn.btn-primary  login with Twitter

  a(href="/auth/facebook").btn.btn-primary  login with Facebook
